<div class="font-bold ">Login</div>
<%= form_with url: login_path, local: true, method: :post do%>
  <div class="space-y-2">
    <%= label_tag "email" %>
    <%= email_field_tag "email", nil, class:"border-solid border-2 border-gray-900 block flex-1 rounded-md border-1 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" %>
    <%= label_tag "password" %>
    <%= password_field_tag "password", nil, class:"border-solid border-2 border-gray-900 block flex-1 rounded-md border-1 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" %>
    <%= submit_tag "Login", class:"
    cursor-pointer
    rounded-md font-medium py-1 px-4 bg-blue-500 text-white font-semibold 
    shadow-md hover:bg-blue-700 focus:outline-none 
    focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75" %>
  <% end %>
  <%= link_to "Register", signup_path, class:"
    rounded-md font-medium py-2 px-4 bg-blue-500 text-white font-semibold 
    shadow-md hover:bg-blue-700 focus:outline-none 
    focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75" %>
</div>
